.details {
    display: flex;
    justify-content: space-evenly;
}

.detail--column {
    flex-basis: 24%;
    margin: 1rem;
    border: 1px dotted goldenrod;
    padding: 1rem;
    text-align: left;
    width: auto;
}

.assignments {
    padding: 1rem 5rem;
}